:root {
  --primary-background: #fdfbe0;
  --secondary-background: #e9e0fd;
  --box-shadow: ;
}

body {
  background: var(--primary-background);
}

h1,
h2 {
  font-family: "Limelight", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 40px;
}

h3,
h4,
h5,
h6,
p,
a {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
  line-height: 1.7;
}

header {
  margin-bottom: 50px;
}

footer {
  text-align: center;
  font-size: smaller;
  margin-top: 40px;
  margin-bottom: 40px;
}

.main-container {
  background-color: rgba(255, 255, 255, 0.2);
  margin: 40px auto;
  width: 75%;
  max-width: 900px;
  padding: 30px 35px;
  border-radius: 8px;
  box-shadow: 0 30px 50px #41326414;
}

.hero-section {
  height: 100vh;
  padding: 150px 100px;
  background: var(--secondary-background);
  text-align: center;
  line-height: 2;
}

.hero-h2 {
  margin-bottom: 50px;
}

.button {
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.primary-button {
  background: #fff9a4;
  color: #7545e6;
}

.secondary-button {
  background: #c1a8fd;
  color: #fdfce2;
}

.footer-icons {
  font-size: medium;
  text-decoration: none;
  color: #212529;
}

a:hover {
  opacity: 0.95;
}
