:root {
  --primary-background: #fdfbe0;
  --secondary-background: #e9e0fd;
  --general-link-color: #212529;
}

body {
  background: var(--primary-background);
}

h1,
h2,
.navbar-brand {
  font-family: "Limelight", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 40px;
}

h3,
h4,
h5,
h6,
p,
a {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h3 {
  text-decoration: underline;
}

p {
  line-height: 1.7;
}

a {
  text-decoration: none;
  color: var(--general-link-color);
}

footer {
  text-align: center;
  font-size: smaller;
  margin-top: 40px;
  margin-bottom: 40px;
}

.main-menu {
  background-color: #f4f0fc;
  padding-left: 70px;
  padding-right: 70px;
}

.main-container {
  background-color: rgba(255, 255, 255, 0.4);
  margin: 50px auto;
  width: 75%;
  max-width: 900px;
  padding: 30px 35px;
  border-radius: 4px;
  box-shadow: 0 30px 50px #41326414;
}

.main-container#portfolio {
  margin: 50px auto;
}

.hero-section {
  height: 100vh;
  padding: 150px 100px;
  background: var(--secondary-background);
  text-align: center;
  line-height: 2;
}

.hero-h2 {
  margin-bottom: 50px;
}

.button {
  padding: 10px 15px;
  border-radius: 4px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.primary-button {
  background: #fff9a4;
  color: #7545e6;
}

.secondary-button {
  background: var(--secondary-background);
}

.get-in-touch-section {
  display: block;
  margin: 55px auto;
  width: 70%;
  max-width: 600px;
  padding: 20px;
  border-radius: 4px;
  background: #e9e0fd9a;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.footer-icons {
  font-size: medium;
  margin-bottom: 10px;
}

.footer-icons hr {
  margin: 20px auto 20px;
  width: 40%;
  max-width: 250px;
  opacity: 0.04;
}

a:hover {
  opacity: 0.95;
}

@media (max-width: 768px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 28px;
  }

  .main-menu {
    padding-right: 0;
  }

  .hero-section {
    padding: 90px 10px;
    height: 50vh;
  }

  .main-container,
  .main-container#portfolio {
    margin: 0;
    width: auto;
  }

  .main-container {
    box-shadow: none;
  }

  .portfolio-projects {
    text-align: center;
  }

  .secondary-button {
    display: block;
    margin: 0 40px 10px 40px;
    text-align: center;
  }
}
